body{
    font-family: 'Nunito Sans', sans-serif;
}
.input-field>label{
 z-index: 1;
}
.input-field>input{
    position: relative;
    z-index: 2;
   }
/*login*/
.img_login{
    width: 100%;
}

/*Estilo container*/
.container{
    position: relative;
    width: 100%;
}
/* estilos nav */
.row .top-nav{
    margin: 0;
}
.top-nav{
    position: fixed;
    bottom : 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
}
.top-nav>ul>li{
    list-style-type: none;
    width: 33.33%;
    text-align: center;
}
.top-nav ul>.menu{
    padding: 0;
    text-align: center;
}
.top-nav ul>.logo{
    display: none;
    text-align: left;
    color: #3da29f;
    font-size: 1.3rem;

}
.img_nav{
    width: 25px;
    height: 25px ;
    display: inline-block;
    vertical-align: middle;
    background-size: 25px;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #fff;
    background-position: center center;
    background-size: 30px 30px; 
    background-repeat: no-repeat;
    position: relative;
} 
.nav-link{
    padding: 0;
    background-color: #fff;
}
.nav-link:hover{
    background-color: #fff;
}
.img_nav.home{
    background-image: url('images/homeblack.svg')
}
.img_nav.msg{
    background-image: url('images/addblack.svg')
}
.img_nav.profile{
    background-image: url('images/profileblack.svg')
}
.img_nav.home.active2{
    background-image: url('images/homeblue.svg')
}
.img_nav.msg.active2{
    background-image: url('images/addblue.svg')
}
.img_nav.profile.active2{
    background-image: url('images/profileblue.svg')
}
.img_nav.active2:after{
    content:"";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #1f8eaf;
    left:0;
    right: 0;
    top: -5px;
    margin: auto;
  }
/*Feed*/
.nav-feed{
    text-align: center;
}
.logo{
    font-size: 1.6rem;
    vertical-align: middle;
    font-family: 'Dancing Script', cursive;
}
.img_logo{
    width: 50px;
    vertical-align: middle;
}
/*Container inner*/
.btn-post{
    background-color: #3da29f;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 300;
}
.img-privacity{
    width: 20px;
    margin-top: 10px;
}

input.msg-title[type=text] {
    font-size: 1rem;
    border: 1px solid #e4e7ed;
    border-radius: 5px;
    font-size: 1.2rem;
    
}
.input-field input.msg-title[type=text]:focus {
    border: 1px solid #b1b4ba;; 
    box-shadow: none;  
}
.message-large{
    resize: none;
    border: 1px solid #e4e7ed;
    outline: none;
    height: 350px;
    border-radius: 5px;
    padding-left: 5px;
}
.message-large:focus{
    border:1px solid #b1b4ba;
} 
.message-large::-webkit-input-placeholder {  font-size: 1.2rem;  } 
.message-large::-moz-placeholder  {  font-size: 1.2rem;}
.message-large:-moz-placeholder   { font-size: 1.2rem;}
.message-large:-ms-input-placeholder  {  font-size: 1.2rem;}

.select-wrapper input.select-dropdown{
    color: #b1b4ba;
    font-size: .8rem;
    padding-left: 5px;
}












/**** PAGES ****/
.page{
    display: none;
    /* position: fixed;  or absolute if the user needs to scroll for more content */
}
.active{
    display: block; 
}
#home{
    /* background-color: hsl(60, 50%, 80%); */
}
#list{
    /* background-color: hsl(180, 50%, 80%); */
}
#detail{
    /* background-color: hsl(240, 50%, 80%); */
}
h1{
    font-size: 2rem;
    font-weight: 600;
    transition: all 0.4s;
}
.big{
    font-size: 5rem;
    font-weight: 900;
} 
.hide{
    display: none;
}
@media screen and (min-width:990px){
    .top-nav{
        top:0;
        bottom:auto;
    }
    main {
        margin-top:4.3rem;
    }
    .top-nav ul>.logo{
        display: block;
        text-align: left;
        color: #3da29f;
        font-size: 1.3rem;
    
    }
    .nav-feed{
        display: none;
    }
    .logo{
        display: inline-block;
        font-size: 1.6rem;
        vertical-align: middle;
        color: #1f8efa;
        font-family: 'Dancing Script', cursive;
    }    
}
