/*Estilo container*/
.container{
    position: relative;
    width: 100%;
}

/* estilos nav */
.img_nav{
    width: 25px;
} 
.top-nav{
    background-color: #fff;
    width: 100%;
}
.top-nav>ul>li{
    list-style-type: none;
    width: 33.33%;
    text-align: center;
}


/**** PAGES ****/
.page{
    display: none;
    /* position: fixed;  or absolute if the user needs to scroll for more content */
}
.active{
    display: block; 
}
#home{
    /* background-color: hsl(60, 50%, 80%); */
}
#list{
    /* background-color: hsl(180, 50%, 80%); */
}
#detail{
    /* background-color: hsl(240, 50%, 80%); */
}
h1{
    font-size: 2rem;
    font-weight: 600;
    transition: all 0.4s;
}
.big{
    font-size: 5rem;
    font-weight: 900;
} 