body {
    font-family: 'Nunito Sans', sans-serif;
}
.input-field>label {
    z-index: 1;
}
.input-field>input {
    position: relative;
    z-index: 2;
}
/*login*/
.img_logo2{
    width: 50px;
    vertical-align: middle;
}
.logo-sesion{
    padding-left: 30px

}
.login-registrer{
    font-size: 0; 
   }
.forms{
    position: relative;
    height: 100vh;
}
.form-login,
.form-registrer{
    padding: 0 30px ;
    max-height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.form-registrer{
    max-height: 500px;
}
.title-login{
    padding: 0 0 0 8px;
    color: #236476;
}
.btnLogin,
.btnSignUp{
    width: 100%;
    border-radius:5px;
    background-color: #1f8eaf; 
}
.btnLogin:hover,
.btnSignUp:hover{
    background-color: #1f8eaf;
}
.img-side{
    display: none;
}
.sub-registrer{
    text-align: right;
    font-size: 1rem;
    padding-right: 15px;
    margin: 0;
}
.subtitle-register{
    color: #1f8eaf;
}
/*Estilo container*/
.container {
    position: relative;
    width: 100%;
    max-width: 1500px;
}
/* estilos nav */
.row .top-nav {
    margin: 0;
}
.top-nav {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
}
.top-nav>ul>li {
    list-style-type: none;
    width: 33.33%;
    text-align: center;
}
.top-nav ul>.menu {
    padding: 0;
    text-align: center;
}
.top-nav ul>.logo {
    display: none;
    text-align: left;
    color: #3da29f;
    font-size: 1.3rem;

}
.img_nav {
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    background-size: 25px;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #fff;
    background-position: center center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    position: relative;
}
.nav-link {
    padding: 0;
    background-color: #fff;
}
.nav-link:hover {
    background-color: #fff;
}
.img_nav.home {
    background-image: url('images/homeblack.svg')
}
.img_nav.msg {
    background-image: url('images/addblack.svg')
}
.img_nav.profile {
    background-image: url('images/profileblack.svg')
}
.img_nav.home.active2 {
    background-image: url('images/homeblue.svg')
}
.img_nav.msg.active2 {
    background-image: url('images/addblue.svg')
}
.img_nav.profile.active2 {
    background-image: url('images/profileblue.svg')
}
.img_nav.active2:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #1f8eaf;
    left: 0;
    right: 0;
    top: -5px;
    margin: auto;
}
/*Feed*/
.nav-feed {
    text-align: center;
  background-color: #F9FAFD;
}
.logo {
    font-size: 1.6rem;
    vertical-align: middle;
    font-family: 'Dancing Script', cursive;
}
.img_logo {
    width: 45%;
    vertical-align: middle;
    margin-top: 2%;
}
#container-feed-news {
background-color: #E0E6F8
}
/*Container inner publicar*/
.btn-post {
    background-color: #3da29f;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 300;
    font-size: .8rem;
}
.likeBtn{
    background-color: #3da29f;
    width: 20%;
    margin-top: 1%;
    border-radius: 5px;
    font-weight: 300;
    font-size: .9rem;
}
.img-privacity {
    width: 20px;
    margin-top: 10px;
}
.input-field input.msg-title[type=text].error{     
    border:1px solid red; 
}
input.msg-title[type=text] {
    font-size: 1rem;
    border: 1px solid #e4e7ed;
    border-radius: 5px;
    font-size: 1.2rem;
}
.input-field input.msg-title[type=text]:focus {
    border: 1px solid #b1b4ba;
    box-shadow: none;
}
.message-large {
    resize: none;
    border: 1px solid #e4e7ed;
    outline: none;
    height: 350px;
    border-radius: 5px;
    padding-left: 5px;
}
.message-large:focus{
    border:1px solid #b1b4ba;
} 
.input-field input.msg-title[type=text]:focus.error,
input.msg-title[type=text].error{
    border-color:red;
}
textarea.message-large.error{
    border-color:red;
}
.message-large:focus {
    border: 1px solid #b1b4ba;
}
.message-large::-webkit-input-placeholder, 
.message-large::-moz-placeholder,
.message-large:-moz-placeholder ,
.message-large:-ms-input-placeholder{
    font-size: 1.2rem;
}
.select-wrapper input.select-dropdown {
    color: #b1b4ba;
    font-size: .8rem;
    padding-left: 5px;
}
/*perfil*/
#detail {
    background-color: #F9FAFD;
}
.img-portada {
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 200px;
}
.name-user {
    text-align: center;
    vertical-align: bottom;
    margin: 0;
    color: #fff; 
}
.row.profile {
    padding: 20px;
}
.img-profile {
    background-image: url('images/usericon.png');
    height: 40px;
    background-repeat: no-repeat;
    padding-top: 140px;
    font-size: 1.3rem;
    background-position: bottom;
}
.user-email {
    text-align: right;
}
.hide {
    display: none;
}
.mi-hide {
    display: none !important;
}
.show {
    display: block ;
}
.logOutButton {
    line-height: 7px;
    height: 40px;
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 0;
    background-color: #4E5C73;
    vertical-align: middle;
    float: right;
    margin-right: 3%;
    margin-top: 3%;
    padding: 10px; 
}
.info {
    float: left;
    margin-top: 3%;
    margin-left: 3%;
    margin-left: 4%;
}
.btn-floating {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background-color: #4E5C73;
    border-radius: 50%;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    cursor: pointer;
    vertical-align: middle;
}
/**** PAGES ****/
.page {
    display: none;
}
.active {
    display: block;
}

@media screen and (min-width:990px) {
    .logo-sesion {
        padding-left: 100px;
    }
    .form-login, .form-registrer {
        padding: 0 100px;
    }
    .top-nav {
        top: 0;
        bottom: auto;
    }
    .content{
        padding-top: 4.3rem;
        margin: auto;
        width: 70% /* position: fixed; or absolute if the user needs to scroll for more content */;
    }
    .container{
        width: 100%;
        margin: 0
    }
    .top-nav ul>.logo {
        display: block;
        text-align: left;
        color: #3da29f;
        font-size: 1.3rem;
    }
    .nav-feed {
        display: none;
    }
    .logo{
        padding: 0;
        display: inline-block;
        vertical-align: middle;
        color: #1f8efa;
        font-family: 'Dancing Script', cursive;
    }
    .login-registrer{
        font-size: 0;
       }
       .forms{
        width: 50%;
        vertical-align: top;
        display: inline-block;
       }
       .img-side{
        font-size: 1rem;
        width: 50%;
        height: 100vh;
        display: inline-block;
        background-image: url(images/recs.jpg);
        background-repeat: no-repeat;
        background-size: 200% 100%;
       }
       .img_logo {
       
        margin: 0;
        width: 300px;
    }
    .img_logo.login{
        padding-top: 50px;
    }
    .logOutButton {
        padding: 30px; 
    }

}
